@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap'); /*Vai se buscar ao google font para ter uma fonte desejável*/

body{
    background-color: #ccc; /*Podemos aceder a este codigo nas paletas online*/
}

h1{
    
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*Estas 3 linhas de codigo, o proprio google font fornece*/
    color:brown;
    text-align: center;
    border: 1px solid black; /*Existe várias bordas, solid, dashed, etc...*/
    margin-top: 30px;
    margin-left:140px;
    margin-right:150px;
    margin-bottom:40px;
    /*Ou
    margin:30px 140px 40px 150px*/
}

h2{
    text-align: center;
    color:black;
    background-color: yellow;
    border-top:2px solid green;
    border-left:5px solid red;
    border-right:5px solid blue;
    border-bottom: 2px dashed black; 
    border-radius: 10%;
    padding-top:10px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 40px;
    /*Ou
    padding:10px 30px 15px 40px*/
}
/*Padding tem a haver com o espaço dentro do h2*/

/*podemos aplicar diferentes propriedades a cada espaço das bordas
border-top->borda de cima
border-left->borda da esquerda
border-right->borda da direita
border-bottom->borda de baixo
border-radius->o grau que pretendemos o vertices da borda
*/
.pcentral{
    color:blue;
    text-align: center;
    font-size: 40px;
}

#sublinhado{
    background-color: yellowgreen;
    color: blueviolet;
    margin-bottom: 60px;
    margin-left: 30px;
}

#pend{
    color:rgb(230,230,260);
    text-align:end;
}

.propBack{
    height: 300px;
    background-color: aquamarine;
    background-image: url("../DIA_4/imagens/gold-star.png");
    background-size: cover; 
    text-indent:30px; /*para identificar um paragrafo*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*Tipo de letra*/
    font-size:25px; /*Tamanho da letra*/
    /*
        contain-> Repete se consoante o tamanho do background
        cover-> Imagem Original
        Depois existe os pixeis necessarios (p.e., 30px ou 40%)
    */
    background-position: center;
}

.botao{
    margin-top:30px;
    margin-left:100px;
    background-color: black;
    margin-bottom:50px;
    color:white;
    padding:5px;
    border-radius:5px;
    text-decoration: none;
}

.botao:hover{
    background-color:blue;
}