ul{
    background: rgb(30, 230, 237);
    list-style-type: none;
    overflow:auto;
}

li{
    float:left;
}

li a, .dropbtn1 .dropbtn2 .dropbtn3 .dropbtn4{
    display: inline-block;
    padding:16px 20px;
    text-decoration: none;
    color:rgb(51, 98, 5);
    text-align: center;
}

li a:hover, .dropdown4:hover .dropbtn4 .dropdown3:hover .dropbtn3 .dropdown2:hover .dropbtn2 .dropdown1:hover .dropbtn2{
    background: red;
}


li.dropdown4{
    display:inline-block
}

.dropdown4:hover .dropdown-list4{
    display:block;
}

.dropdown-list4{
    display: none;
    position:absolute;
    background: white;
    width: 150px;
}

.dropdown-list4 a{
    color:black;
    display:block;
    text-align: left;
    border: 1px solid rgb(138, 226, 221)
}



li.dropdown3{
    display:inline-block
}

.dropdown3:hover .dropdown-list3{
    display:block;
}

.dropdown-list3{
    display: none;
    position:absolute;
    background: white;
    width: 150px;
}

.dropdown-list3 a{
    color:black;
    display:block;
    text-align: left;
    border: 1px solid rgb(138, 226, 221)
}



li.dropdown2{
    display:inline-block
}

.dropdown2:hover .dropdown-list2{
    display:block;
}

.dropdown-list2{
    display: none;
    position:absolute;
    background: white;
    width: 150px;
}

.dropdown-list2 a{
    color:black;
    display:block;
    text-align: left;
    border: 1px solid rgb(138, 226, 221)
}


li.dropdown1{
    display:inline-block
}

.dropdown1:hover .dropdown-list1{
    display:block;
}

.dropdown-list1{
    display: none;
    position:absolute;
    background: white;
    width: 150px;
}

.dropdown-list1 a{
    color:black;
    display:block;
    text-align: left;
    border: 1px solid rgb(138, 226, 221)
}