body{
    background-color: #ccc; /*Podemos aceder a este codigo nas paletas online*/
}

h1, p{
    color:brown;
    text-align: justify;
}

.pcentral{
    color:blue;
    text-align: center;
    font-size: 40px;
}

#sublinhado{
    background-color: yellowgreen;
    color: blueviolet;
}

#pend{
    color:rgb(230,230,260);
    text-align:end;
}

.propBack{
    height: 300px;
    background-color: aquamarine;
    background-image: url("../DIA_4/imagens/gold-star.png");
    background-size: cover; 
    /*
        contain-> Repete se consoante o tamanho do background
        cover-> Imagem Original
        Depois existe os pixeis necessarios (p.e., 30px ou 40%)
    */
    background-position: center;
}